<div class="basic-container">
  <mat-grid-list cols="8" rowHeight="600px" gutterSize="1px">
    <mat-grid-tile class="mamTile" *ngFor="let tarjetaControl of tarjetasControl; let indice=index">
      <div #card class="overlay"
        *ngIf="tarjetaControl.resultado !== 'limpieza' && tarjetaControl.resultado !== 'revision'">
        <img #imagen src="../assets/img/relojArena.jpg" alt="Smiley face" height="142" width="100%">
        <div id="textoCard" #texto2>{{control.controlNombre}}</div>
        <button #botonLimpieza class="btn-material btn-material-rojo"
          (click)="onClickHechoLimpieza(indice, tarjetaControl)">
          Se realiza limpieza.
        </button>
        <button #boton class="btn-material btn-material-verde" (click)="onClickHecho(indice, tarjetaControl)">
          Revisón correcta.
        </button>
      </div>

      <div #card class="overlay" *ngIf="tarjetaControl.resultado === 'limpieza' && tarjetaControl.enHora === true"
        style="background: green">
        <img #imagen src="../assets/img/barrer.jpg" alt="Smiley face" height="142" width="100%">
      </div>
      <div #card class="overlay" *ngIf="tarjetaControl.resultado === 'limpieza' && tarjetaControl.enHora === false"
        style="background: orange">
        <img #imagen src="../assets/img/barrer.jpg" alt="Smiley face" height="142" width="100%">
      </div>
      <div #card class="overlay" *ngIf="tarjetaControl.resultado === 'revision' && tarjetaControl.enHora === true"
        style="background: green">
        <img #imagen src="../assets/img/OK.png" alt="Smiley face" height="142" width="100%">
      </div>
      <div #card class="overlay" *ngIf="tarjetaControl.resultado === 'revision' && tarjetaControl.enHora === false"
        style="background: orange">
        <img #imagen src="../assets/img/OK.png" alt="Smiley face" height="142" width="100%">
      </div>

    </mat-grid-tile>
  </mat-grid-list>
</div>
