<div class="basic-container">
    <mat-grid-list cols="8" rowHeight="600px" gutterSize="1px">
      <mat-grid-tile class ="mamTile"
      *ngFor="let card of cards; let indice=index">
      <div class="card">
          <div #card class="overlay" >
            <h4>CONTROL</h4>
            <div># Verificar que no existen cristales en la zona.</div>
            <br />
            <div># Otra tarea.</div>
            <br />
            <button #boton
              class="btn-material btn-material-rojo"
              (click)="onClickHecho(indice)">
              Se realiza limpieza.
            </button>
            <button #boton
            class="btn-material btn-material-verde"
            (click)="onClickHecho(indice)">
            Revisón correcta.
          </button>


          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    </div>
