<div class="footer basic-container">
  <mat-grid-list cols="4" rowHeight="100px" gutterSize="1px">
      <mat-grid-tile
       colspan="2"
      [style.background]="'#F2F2F2'"
      [style.border]="'1px solid red'"
      >
       Información actualizada
      </mat-grid-tile>
      <mat-grid-tile
      [style.background]="'#F2F2F2'"
      [style.border-left]="'1px solid red'"
      [style.border-top]="'1px solid red'"
      [style.border-bottom]="'1px solid red'"
      >
       Fecha
      </mat-grid-tile>

      <mat-grid-tile
      [style.background]="'#F2F2F2'"
      [style.border-left]="'1px solid red'"
      [style.border-right]="'1px solid red'"
      [style.border-top]="'1px solid red'"
      [style.border-bottom]="'1px solid red'"
      >
      Versión.
      </mat-grid-tile>
  </mat-grid-list>
  </div>
