



<div id="main-window">
  <div class="post">
    <div class="user">
      <!--
    <div class="user-img" style="background: url(&quot;https://unsplash.it/50/?random&amp;0&quot;) 50% 50% / cover no-repeat rgb(68, 68, 68);"></div>
    -->
      <div class="user-info">
        <div class="user-name">MAM</div>
        <span class="post-date">07:00 a 08:00</span>
      </div>
      <div class="actions">
        <!-- <span class="heart"></span> -->
        <!-- <span class="comment"></span> -->
        <!-- <span class="share"></span> -->
      </div>
    </div>
    <div class="content">
      1ª revisióm.
    </div>
    <div class="content">
      2ª revisión.
    </div>
    <div class="content">
      3ª revisión.
    </div>

    <div class="media photo">
      <img src="https://unsplash.it/600/350/?random&amp;0" alt="post-image" />
    </div>
  </div>
</div>


<router-outlet></router-outlet>
