
<div class="basic-container">
    <mat-grid-list cols="3" rowHeight= 4em gutterSize="1px" [style.border]="'1px solid green'">
        <mat-grid-tile>
 <app-reloj></app-reloj>
      </mat-grid-tile>
      <mat-grid-tile>
          <h1 class="center">Control de limpieza cristales zona de despaletizador Linea 1</h1>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-countdown></app-countdown>
          </mat-grid-tile>
    </mat-grid-list>
</div>


<div class="basic-container">

      <mat-grid-list cols="4" rowHeight="30px" gutterSize="1px" [style.border]="'1px solid green'">
          <mat-grid-tile
           colspan="2"
          [style.background]="'#F2F2F2'">
          <div class="leftVerticalAlign">
              Kamizibai
          </div>
          </mat-grid-tile>
          <mat-grid-tile [style.background]="'#F2F2F2'">
           Fecha: {{ fecha | date : 'dd-MMMM-yyyy'}}
          </mat-grid-tile>
          <mat-grid-tile [style.background]="'#F2F2F2'" >
          Versión.
          </mat-grid-tile>
      </mat-grid-list>

      <!--** Grid de horas *******************************************/ -->
     <mat-grid-list cols="8" rowHeight="50px" gutterSize="1px">
        <mat-grid-tile [style.border]="'1px solid black'" [style.border-left]="'2px solid black'" >
          <div #hora7> 7:00 a 8:00 </div>
        </mat-grid-tile>
        <mat-grid-tile [style.border]="'1px solid black'" >
          <div #hora8> 8:00 a 9:00 </div>
        </mat-grid-tile>
        <mat-grid-tile [style.border]="'1px solid black'" >
          <div #hora9> 9:00 a 10:00 </div>
        </mat-grid-tile>
        <mat-grid-tile [style.border]="'1px solid black'" >
          <div #hora10> 10:00 a 11:00 </div>
        </mat-grid-tile>
       <mat-grid-tile [style.border]="'1px solid black'" >
          <div #hora11> 11:00 a 12:00 </div>
       </mat-grid-tile>
       <mat-grid-tile [style.border]="'1px solid black'" >
          <div #hora12> 12:00 a 13:00 </div>
       </mat-grid-tile>
       <mat-grid-tile [style.border]="'1px solid black'" >
          <div #hora13> 13:00 a 14:00 </div>
       </mat-grid-tile>
       <mat-grid-tile [style.border]="'1px solid black'" [style.border-right]="'2px solid black'">
          <div #hora14> 14:00 a 15:00 </div>
       </mat-grid-tile>
     </mat-grid-list>

<!--** Grid de cards *******************************************/ -->
<mat-grid-list cols="8" rowHeight="400px" gutterSize="1px"  >
  <mat-grid-tile-header>
      <!-- <h3>Header</h3> -->
      </mat-grid-tile-header>

      <mat-grid-tile
    [style.background]="'#F2F2F2'"
    [style.border]="'1px solid black'"
    [style.border-left]="'2px solid black'"
      >
    <div  class="card">
      <div #card7 class="overlay">
        <h4>CONTROL</h4>
        <div># Verificar que no existen cristales en la zona.</div>
        <br>
        <div># Otra tarea.</div>
        <br>
        <button *ngIf="verBoton7" #boton7 class ="btn-material" (click)=onClickHecho(0)>Hecho</button>
      </div>
    </div>
    </mat-grid-tile>

    <mat-grid-tile
    [style.background]="'#F2F2F2'"
    [style.border]="'1px solid black'"
    >
    <div  class="card">
      <div #card8 class="overlay">
          <h4>CONTROL</h4>
          <div># Verificar que no existen cristales en la zona.</div>
          <br>
          <div># Otra tarea.</div>
          <br>
        <button *ngIf="verBoton8" class ="btn-material" (click)=onClickHecho(1)>Hecho</button>
      </div>
    </div>
    </mat-grid-tile>

    <mat-grid-tile
    [style.background]="'#F2F2F2'"
    [style.border]="'1px solid black'"
    >
    <div  class="card">
      <div #card9 class="overlay">
          <h4>CONTROL</h4>
          <div># Verificar que no existen cristales en la zona.</div>
          <br>
          <div># Otra tarea.</div>
          <br>
        <button *ngIf="verBoton9" class ="btn-material" (click)=onClickHecho(2)>Hecho</button>
      </div>
    </div>
    </mat-grid-tile>


    <!-- <mat-grid-tile-footer>
      <h3>Footer</h3>
      </mat-grid-tile-footer> -->

    </mat-grid-list>
<!--******************************************************************************/ -->

<!--** Grid de horas de control *******************************************/ -->
<mat-grid-list cols="8" rowHeight="50px" gutterSize="1px" [style.border]="'1px solid black'">
     <mat-grid-tile
     [style.border]="'1px solid black'"
     [style.border-left]="'2px solid black'"
     >
       <div #elHoraControl7 > {{ horaControl7 }}  </div>
     </mat-grid-tile>


  <mat-grid-tile
  [style.border]="'1px solid black'"
  >
    <div #elHoraControl8 > {{ horaControl8 }}  </div>
  </mat-grid-tile>
</mat-grid-list>
<!--******************************************************************************/ -->

<div class="footer">
<mat-grid-list cols="4" rowHeight="100px" gutterSize="1px">
    <mat-grid-tile
     colspan="2"
    [style.background]="'#F2F2F2'"
    [style.border]="'1px solid red'"
    >
     Información actualizada
    </mat-grid-tile>
    <mat-grid-tile
    [style.background]="'#F2F2F2'"
    [style.border-left]="'1px solid red'"
    [style.border-top]="'1px solid red'"
    [style.border-bottom]="'1px solid red'"
    >
     Fecha
    </mat-grid-tile>

    <mat-grid-tile
    [style.background]="'#F2F2F2'"
    [style.border-left]="'1px solid red'"
    [style.border-right]="'1px solid red'"
    [style.border-top]="'1px solid red'"
    [style.border-bottom]="'1px solid red'"
    >
    Versión.
    </mat-grid-tile>
</mat-grid-list>
</div>
</div>
<app-reloj></app-reloj>
<router-outlet></router-outlet>
