<div class="row col-12">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-12">
                    <h2>
                        <a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth" (click)="toggleFullWidth()">
                            <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
                            <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
                        </a>Turno</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a [routerLink]="['/home']">
                                <fa-icon [icon]="'home'"></fa-icon>
                            </a>
                        </li>
                        <li class="breadcrumb-item">Administracion</li>
                        <li class="breadcrumb-item active">Turno</li>
                    </ul>
                </div>
            </div>
        </div>
        <mat-card>
            <mat-card-header>
                <div class="row col-12">
                    <div class="col-md-6">
                        <h2><span id="control-management-page-heading">Turno</span></h2>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-primary btn-sm float-right" [routerLink]="['./new']">
                                        <fa-icon [icon]="'plus'"></fa-icon> <span>Nuevo</span>
                                    </button>
                    </div>
                </div>
            </mat-card-header>
            <mat-card-content>
                <div class="row justify-content-center">
                    <div class="table-responsive" *ngIf="turnos" style="width: 90%">
                        <table class="table table-striped" style="width: 90%">
                            <thead>
                                <tr>
                                    <th><span>ID</span>
                                        <fa-icon [icon]="'sort'"></fa-icon>
                                    </th>
                                    <th><span>Turno</span>
                                        <fa-icon [icon]="'sort'"></fa-icon>
                                    </th>
                                    <th><span>Desde</span>
                                        <fa-icon [icon]="'sort'"></fa-icon>
                                    </th>
                                    <th><span>Hasta</span>
                                        <fa-icon [icon]="'sort'"></fa-icon>
                                    </th>
                                    <th><span>Fecha Creación</span>
                                        <fa-icon [icon]="'sort'"></fa-icon>
                                    </th>
                                    <th><span>Fecha Modificación</span>
                                        <fa-icon [icon]="'sort'"></fa-icon>
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody *ngIf="turnos">
                                <tr *ngFor="let turno of turnos; trackBy: trackIdentity">
                                    <td><a [routerLink]="['./', turno.idtTurno, 'view']">{{turno.idtTurno}}</a>
                                    </td>
                                    <td>{{turno.nombreTurno}}</td>
                                    <td>{{turno.desde}}</td>
                                    <td>{{turno.hasta}}</td>
                                    <td>{{turno.createdAt | date:'dd/MM/yy HH:mm'}}</td>
                                    <td>{{turno.updatedAt | date:'dd/MM/yy HH:mm'}}</td>
                                    <td class="text-right">
                                        <div class="btn-group flex-btn-group-container">
                                            <button type="submit" [routerLink]="['./', turno.idtTurno, 'edit']" queryParamsHandling="merge" class="btn btn-primary btn-sm">
                                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                                <span class="d-none d-md-inline">Editar</span>
                                            </button>
                                            <button type="button" (click)="deleteempleado(linea)" class="btn btn-danger btn-sm">
                                                <fa-icon [icon]="'times'"></fa-icon>
                                                <span class="d-none d-md-inline">Eliminar</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>