<div class="row col-12">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-12">
                    <h2>
                        <a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth" (click)="toggleFullWidth()">
                            <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
                            <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
                        </a>Turno</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/home']"><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item">Administracion</li>
                        <li class="breadcrumb-item active">Turno</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card" style="max-width: 100%; height: 90%;">
            <div class="header">

            </div>
            <div class="body">
                <div class="row justify-content-center">
                    <div class="col-8">
                        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
                            <h2 id="myUserLabel">
                                Crear o editar Turno
                            </h2>
                            <div>
                                <div class="form-group" [hidden]="!turno.idtTurno">
                                    <label>ID</label>
                                    <input type="text" class="form-control" name="idtTurno" [(ngModel)]="turno.idtTurno" readonly>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Turno</label>
                                    <input type="text" class="form-control" name="nombreTurno" #nombreTurnoInput="ngModel" [(ngModel)]="turno.nombreTurno" required minlength="1" maxlength="50">

                                    <div *ngIf="nombreTurnoInput.dirty && nombreTurnoInput.invalid">
                                        <small class="form-text text-danger" *ngIf="nombreTurnoInput.errors.required">
                                            Nombre de Turno es requerido
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Hora Inicio</label>
                                    <input type="text" class="form-control" name="desde" #desdeInput="ngModel" [(ngModel)]="turno.desde" required minlength="1" maxlength="50">

                                    <div *ngIf="desdeInput.dirty && desdeInput.invalid">
                                        <small class="form-text text-danger" *ngIf="desdeInput.errors.required">
                                            Hora Inicio es requerido
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Hora Fin</label>
                                    <input type="text" class="form-control" name="hasta" #hastaInput="ngModel" [(ngModel)]="turno.hasta" required minlength="1" maxlength="50">

                                    <div *ngIf="hastaInput.dirty && hastaInput.invalid">
                                        <small class="form-text text-danger" *ngIf="hastaInput.errors.required">
                                            Hora Fin es requerido
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button type="button" mat-raised-button class="mat-cancel" (click)="previousState()">
                                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                                </button>
                                <button type="submit" [disabled]="editForm.form.invalid || isSaving" mat-raised-button class="mat-success">
                                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>