<div class="basic-container">
<mat-grid-list cols="8" rowHeight="50px" gutterSize="1px" [style.border]="'1px solid black'">
  <mat-grid-tile
  [style.border]="'1px solid black'"
  [style.border-left]="'2px solid black'"
  >
    <div  #elHoraControl7 > {{ horaControl7 }}  </div>


    <!-- <div><p></p></div>
    <button
    class="btn-material"
    (click)="onClickHecho(0)"
  >
    Hecho {{missionService.clickeao}}
  </button> -->

  </mat-grid-tile>

<mat-grid-tile
[style.border]="'1px solid black'"
>
 <div #elHoraControl8 > {{ horaControl8 }}  </div>
</mat-grid-tile>
</mat-grid-list>

</div>
