#containerControl{
  width: 500px;
}

#bodyCrear {
  margin: 40px 0px 0px 60px;
}


#labelCrear {
  background-color:  #FF5722;
  font-size: 32px;
  width: 500px;
  padding: 0px 0px 10px 0px;
  margin: 0px 0px 0px 0px;
}

#labelControlNombre {
width: 200px;
font-weight: bold;
}

#inputControlNombre {
  width: 300px;
  }

  #labelControlLineaEnvasado {
    width: 200px;
font-weight: bold;
  }

  #field_lineaEnvasado {
    width: 300px;
  }


  #botonesCrear {
    margin: 50px 0px 20px 50px;
  }
