<div id="containerControl" class="container">
    <div class=" row col-12">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a [routerLink]="['/home']">
                    <fa-icon [icon]="'home'"></fa-icon>
                </a>
            </li>
            <li class="breadcrumb-item">Administracion</li>
            <li class="breadcrumb-item active">Control</li>
        </ul>
    </div>

    <div class="card" style="max-width: 100%; height: 90%;">
        <div class="card-header">
            <h4 id="labelHeader">
                Crear o editar Control
            </h4>
        </div>

        <div class="row card-body col-12  justify-content-center">
            <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
                <div class="form-group">
                    <label id="labelControlNombre" class="form-control-label">Nombre de Control</label>
                    <input type="text" id="inputControlNombre" class="form-control" name="controlNombre"
                        #controlNombreInput="ngModel" [(ngModel)]="control.controlNombre" required minlength="1"
                        maxlength="50" />

                    <div *ngIf="controlNombreInput.dirty && controlNombreInput.invalid">
                        <small class="form-text text-danger" *ngIf="controlNombreInput.errors.required">
                            Nombre de Control es requerido
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label id="labelControlLineaEnvasado" class="form-control-label" for="field_lineaEnvasado">Lineas de
                        envasado</label>
                    <select class="form-control" id="field_lineaEnvasado" name="lineaEnvasado"
                        [(ngModel)]="control.idLineaEnvasado">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="lineaEnvasado.idLineaEnvasado" *ngFor="let lineaEnvasado of lineaEnvasados; trackBy: trackLineaEnvasadoById">
                            {{ lineaEnvasado.descripcion }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label id="labelDescripcionTarjeta1" class="form-control-label">Descripcion Tarjeta 1</label>
                    <input type="text" id="inputDescripcionTarjeta1" class="form-control" name="descripcionTarjeta1"
                        #descripcionTarjeta1Input="ngModel" [(ngModel)]="control.descripcionTarjeta1" required
                        minlength="1" maxlength="200" />
                    <div *ngIf="descripcionTarjeta1Input.dirty && descripcionTarjeta1Input.invalid">
                        <small class="form-text text-danger" *ngIf="descripcionTarjeta1Input.errors.required">
                            Este campo es requerido
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label id="labelDescripcionTarjeta2" class="form-control-label">Descripcion Tarjeta 2</label>
                    <input type="text" id="inputDescripcionTarjeta2" class="form-control" name="descripcionTarjeta2"
                        #descripcionTarjeta2Input="ngModel" [(ngModel)]="control.descripcionTarjeta2" required
                        minlength="1" maxlength="200" />
                    <div *ngIf="descripcionTarjeta2Input.dirty && descripcionTarjeta2Input.invalid">
                        <small class="form-text text-danger" *ngIf="descripcionTarjeta2Input.errors.required">
                            Este campo es requerido
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label id="labelDescripcionTarjeta3" class="form-control-label">Descripcion Tarjeta 3</label>
                    <input type="text" id="inputDescripcionTarjeta3" class="form-control" name="descripcionTarjeta3"
                        #descripcionTarjeta3Input="ngModel" [(ngModel)]="control.descripcionTarjeta3" required
                        minlength="1" maxlength="200" />
                    <div *ngIf="descripcionTarjeta3Input.dirty && descripcionTarjeta3Input.invalid">
                        <small class="form-text text-danger" *ngIf="descripcionTarjeta3Input.errors.required">
                            Este campo es requerido
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label id="labelDescripcionTarjeta4" class="form-control-label">Descripcion Tarjeta 4</label>
                    <input type="text" id="inputDescripcionTarjeta4" class="form-control" name="descripcionTarjeta4"
                        #descripcionTarjeta4Input="ngModel" [(ngModel)]="control.descripcionTarjeta4" required
                        minlength="1" maxlength="200" />
                    <div *ngIf="descripcionTarjeta4Input.dirty && descripcionTarjeta4Input.invalid">
                        <small class="form-text text-danger" *ngIf="descripcionTarjeta4Input.errors.required">
                            Este campo es requerido
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label id="labelDescripcionTarjeta5" class="form-control-label">Descripcion Tarjeta 5</label>
                    <input type="text" id="inputDescripcionTarjeta5" class="form-control" name="descripcionTarjeta5"
                        #descripcionTarjeta5Input="ngModel" [(ngModel)]="control.descripcionTarjeta5" required
                        minlength="1" maxlength="200" />
                    <div *ngIf="descripcionTarjeta5Input.dirty && descripcionTarjeta5Input.invalid">
                        <small class="form-text text-danger" *ngIf="descripcionTarjeta5Input.errors.required">
                            Este campo es requerido
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label id="labelDescripcionTarjeta6" class="form-control-label">Descripcion Tarjeta 6</label>
                    <input type="text" id="inputDescripcionTarjeta6" class="form-control" name="descripcionTarjeta6"
                        #descripcionTarjeta6Input="ngModel" [(ngModel)]="control.descripcionTarjeta6" required
                        minlength="1" maxlength="200" />
                    <div *ngIf="descripcionTarjeta6Input.dirty && descripcionTarjeta6Input.invalid">
                        <small class="form-text text-danger" *ngIf="descripcionTarjeta6Input.errors.required">
                            Este campo es requerido
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label id="labelDescripcionTarjeta7" class="form-control-label">Descripcion Tarjeta 7</label>
                    <input type="text" id="inputDescripcionTarjeta7" class="form-control" name="descripcionTarjeta7"
                        #descripcionTarjeta7Input="ngModel" [(ngModel)]="control.descripcionTarjeta7" required
                        minlength="1" maxlength="200" />
                    <div *ngIf="descripcionTarjeta7Input.dirty && descripcionTarjeta7Input.invalid">
                        <small class="form-text text-danger" *ngIf="descripcionTarjeta7Input.errors.required">
                            Este campo es requerido
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label id="labelDescripcionTarjeta8" class="form-control-label">Descripcion Tarjeta 8</label>
                    <input type="text" id="inputDescripcionTarjeta8" class="form-control" name="descripcionTarjeta8"
                        #descripcionTarjeta8Input="ngModel" [(ngModel)]="control.descripcionTarjeta8" required
                        minlength="1" maxlength="200" />
                    <div *ngIf="descripcionTarjeta8Input.dirty && descripcionTarjeta8Input.invalid">
                        <small class="form-text text-danger" *ngIf="descripcionTarjeta8Input.errors.required">
                            Este campo es requerido
                        </small>
                    </div>
                </div>

                <div id="botonesCrear" class=" row col-12 justify-content-center">
                    <button type="button" class="btn btn-danger btn-sm" (click)="previousState()">
                        <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancelar</span>
                    </button>
                    <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary btn-sm">
                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Grabar</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>