<div class="row col-12">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a (click)="previousState()">
                                <fa-icon [icon]="'arrow-left'"></fa-icon>
                            </a>
                        </li>
                        <li class="breadcrumb-item">Control</li>
                        <li class="breadcrumb-item active">Controles Diarios</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card" style="max-width: 100%; height: 100%;">
            <div class="header">

                <h2 *ngIf="!enFecha">
                    <span id="empleado-management-page-heading">No se asigno controles para esta linea el dia de hoy...</span>
                    <button class="btn btn-primary btn-sm float-right" (click)="loadTareas()">
                        <fa-icon [icon]="'plus'"></fa-icon> <span>Crear tareas</span>
                    </button>
                </h2>
                <h2 *ngIf="enFecha">
                    <button class="btn btn-primary btn-sm float-right" (click)="irAHome()">
                        <fa-icon [icon]="'plus'"></fa-icon> <span>Ir a pantalla de tareas</span>
                    </button>
                </h2>
            </div>
            <div class="body">
                <div class="row justify-content-center">
                    <div class="table-responsive" *ngIf="controlesDiarios" style="width: 90%">
                        <table class="table table-striped" style="width: 90%">
                            <thead>
                                <tr>
                                    <th><span>ID</span>
                                        <fa-icon [icon]="'sort'"></fa-icon>
                                    </th>
                                    <th><span>ID Control</span>
                                        <fa-icon [icon]="'sort'"></fa-icon>
                                    </th>
                                    <th><span>Turno</span>
                                        <fa-icon [icon]="'sort'"></fa-icon>
                                    </th>
                                    <th><span>Fecha</span>
                                        <fa-icon [icon]="'sort'"></fa-icon>
                                    </th>
                                    <th><span>Id Empleado</span>
                                        <fa-icon [icon]="'sort'"></fa-icon>
                                    </th>
                                    <th><span>Created Date</span>
                                        <fa-icon [icon]="'sort'"></fa-icon>
                                    </th>
                                    <!-- <th></th> -->
                                </tr>
                            </thead>
                            <tbody *ngIf="controlesDiarios">
                                <tr *ngFor="let control of controlesDiarios; trackBy: trackIdentity">
                                    <td><a [routerLink]="['./', control.idControlDiario, 'view']">{{control.idControlDiario}}</a>
                                    </td>
                                    <td>{{control.idControl}}</td>
                                    <td>{{control.turno}}</td>
                                    <td>{{control.fecha | date:'dd/MM/yy HH:mm'}}</td>
                                    <td>{{control.idEmpleado}}</td>
                                    <td>{{control.createdAt | date:'dd/MM/yy HH:mm'}}</td>
                                    <!-- <td class="text-right">
                                        <div class="btn-group flex-btn-group-container">

                                            <button type="submit" [routerLink]="['./', control.idControlDiario, 'edit']" queryParamsHandling="merge" class="btn btn-primary btn-sm">
                                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                                <span class="d-none d-md-inline">Editar</span>
                                            </button>
                                            <button type="button" (click)="deleteempleado(empleado)" class="btn btn-danger btn-sm">
                                                <fa-icon [icon]="'times'"></fa-icon>
                                                <span class="d-none d-md-inline">Eliminar</span>
                                            </button>
                                        </div>
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>