<div class="row col-12">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-12">
                    <h2>
                        <a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth" (click)="toggleFullWidth()">
                            <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
                            <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
                        </a>Tarjeta Control</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/home']"><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item">Administracion</li>
                        <li class="breadcrumb-item active">Tarjeta Control</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card" style="max-width: 100%; height: 90%;">
            <div class="header">
            </div>
            <div class="body">
                <div class="row justify-content-center">
                    <div class="col-8">
                        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
                            <h2 id="myUserLabel">
                                Crear o editar Tarjeta Control
                            </h2>
                            <div>
                                <div class="form-group" [hidden]="!tarjetaControl.idTarjetaControl">
                                    <label>ID</label>
                                    <input type="text" class="form-control" name="idTarjetaControl" [(ngModel)]="tarjetaControl.idTarjetaControl" readonly>
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label">Hora</label>
                                    <input type="number" class="form-control" name="hora" #horaInput="ngModel" [(ngModel)]="tarjetaControl.hora" required minlength="1" maxlength="50">

                                    <div *ngIf="horaInput.dirty && horaInput.invalid">
                                        <small class="form-text text-danger" *ngIf="horaInput.errors.required">
                                            Hora es requerido
                                        </small>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label">Descripcion</label>
                                    <input type="text" class="form-control" name="descripcion" #descripcionInput="ngModel" [(ngModel)]="tarjetaControl.descripcion" required minlength="1" maxlength="50">

                                    <div *ngIf="descripcionInput.dirty && descripcionInput.invalid">
                                        <small class="form-text text-danger" *ngIf="descripcionInput.errors.required">
                                            Descripcion es requerido
                                        </small>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label">Resultado</label>
                                    <input type="text" class="form-control" name="resultado" #resultadoInput="ngModel" [(ngModel)]="tarjetaControl.resultado" required minlength="1" maxlength="50">

                                    <div *ngIf="resultadoInput.dirty && resultadoInput.invalid">
                                        <small class="form-text text-danger" *ngIf="resultadoInput.errors.required">
                                            Resultado es requerido
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Observaciones</label>
                                    <input type="text" class="form-control" name="observaciones" #observacionesInput="ngModel" [(ngModel)]="tarjetaControl.observaciones" required minlength="1" maxlength="250">

                                    <div *ngIf="observacionesInput.dirty && observacionesInput.invalid">
                                        <small class="form-text text-danger" *ngIf="observacionesInput.errors.required">
                                            Observaciones es requerido
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Control Diario</label>
                                    <input type="number" class="form-control" name="idControlDiario" #idControlDiarioInput="ngModel" [(ngModel)]="tarjetaControl.idControlDiario" required minlength="1" maxlength="50">

                                    <div *ngIf="idControlDiarioInput.dirty && idControlDiarioInput.invalid">
                                        <small class="form-text text-danger" *ngIf="idControlDiarioInput.errors.required">
                                            Control Diario es requerido
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">
                                        <input type="checkbox" class="form-control" name="enHora" #enHoraInput="ngModel"
                                            [(ngModel)]="tarjetaControl.enHora">
                                        En Hora
                                    </label>
                                </div>
                            </div>
                            <div>
                                <button type="button" mat-raised-button class="mat-cancel" (click)="previousState()">
                                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                                </button>
                                <button type="submit" [disabled]="editForm.form.invalid || isSaving" mat-raised-button class="mat-success">
                                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>