<div class="basic-container">
    <mat-grid-list cols="8" rowHeight="50px" gutterSize="1px">
        <mat-grid-tile *ngFor="let tarjeta of tarjetasControl" [style.border]="'1px solid black'" [style.border-left]="'2px solid black'">
            <div class="mamDiv" #hora *ngIf="!tarjeta.resultado"> {{ tarjeta.horaTarea }}</div>
            <div class="mamDiv" #eleHoraControl style="background: green; padding: 15px" *ngIf="tarjeta.resultado === 'limpieza' && tarjeta.enHora === true">{{tarjeta.horaTarea}} </div>
            <div class="mamDiv" #eleHoraControl style="background: orange; padding: 15px" *ngIf="tarjeta.resultado === 'limpieza' && tarjeta.enHora === false">{{tarjeta.horaTarea}} </div>
            <div class="mamDiv" #eleHoraControl style="background: green; padding: 15px" *ngIf="tarjeta.resultado === 'revision' && tarjeta.enHora === true">{{tarjeta.horaTarea}} </div>
            <div class="mamDiv" #eleHoraControl style="background: orange; padding: 15px" *ngIf="tarjeta.resultado === 'revision' && tarjeta.enHora === false">{{tarjeta.horaTarea}} </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>