
<div class="basic-container">
  <mat-grid-list cols="17" rowHeight= 5em gutterSize="1px" [style.border]="'1px solid green'">
      <mat-grid-tile colspan="4">
<app-reloj></app-reloj>
    </mat-grid-tile>
    <mat-grid-tile>
       </mat-grid-tile>
    <mat-grid-tile colspan="9">
        <h1 class="center">Control de limpieza cristales zona despaletizador. Linea 1</h1>
      </mat-grid-tile>
      <mat-grid-tile>
        </mat-grid-tile>
      <mat-grid-tile>
         <h4 #counterText>Tiempo para control:</h4>
        </mat-grid-tile>

      <mat-grid-tile>
        <!--  TODO: Ocultar cuando se haya rellenado la card correspondiente a esa hora. -->
        <app-countdown></app-countdown>
        </mat-grid-tile>
  </mat-grid-list>
</div>
