<div class="basic-container">
    <mat-grid-list cols="12" rowHeight=5em gutterSize="1px" [style.border]="'1px solid green'">
        <mat-grid-tile colspan="2">
            <app-reloj></app-reloj>
        </mat-grid-tile>
        <!-- <mat-grid-tile>
        </mat-grid-tile> -->
        <mat-grid-tile colspan="2">
            <h2 class="center">{{lineaEnvasado.descripcion}}</h2>
        </mat-grid-tile>
        <mat-grid-tile colspan="6">
            <h2>{{control.controlNombre}}</h2>
        </mat-grid-tile>
        <mat-grid-tile>
            <h4 #counterText>Tiempo para control:</h4>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-countdown *ngIf="verCounter"></app-countdown>
        </mat-grid-tile>
    </mat-grid-list>
</div>
